/*ESTILIZAÇÃO DO CABEÇALHO*/

body {
    background-color: #66A6FF !important;
}

.img-topo{
    width: 100%;
    height: auto;
}

ul li .nav-link {
    color:#E0FFFF !important;
}

ul li .nav-link:hover {
    background-color:#fff !important;
    /*border: 2px solid #2575FC !important;*/
    color: #2575FC !important;
    border-radius: 10px !important;
   
}

#nav-menu ul li #menu-tutorial {
    background-color:  #66A6FF !important;
    border: 2px solid white !important;
}
/*-------------------------------------------------------------------------*/





