/*ESTILIZAÇÃO NAV*/
#container-header{
    padding-left: 0; 
    padding-right: 0;
}

.custom-icon{
    padding: 0;
    margin: 7px -7px 0 10px;
}

#technical-users li div label{
   /* border: 1px solid red;*/
    margin: 3px 1px 3px 10px;
}

#technical-users li div a {
    /*border: 1px solid green;*/
    padding:0;
    margin: 3px 1px 3px 4px;
}

#technical-users li div a:hover{
    background-color: transparent;
    
}

/*ESTILIZAÇÃO DA SECTION TOPO(IMAGEM)*/
#topo-section div{
    border: 1px solid orange; 
    height: 292px; 
    padding: 0 0 0 0;
    
}

#topo-section img{
    width: 1318.2px; 
    height: 290px;
}


/*ESTILIZAÇÃO DA SECTION BODY*/
#contents-section .container{
    padding-right: 0;
    padding-left: 0;
    border: 1px solid black; height: 500px; 
    margin-bottom: 10px;
}

#row-custom{
    margin: 10px 20px 10px 20px;
}

#row-custom .col{
    padding-left: 0 ;
    padding-right: 0 ;
}

.row{
    grid-column-gap: 30px;
   
}
